<h1>Nicaragua#coding</h1>
<p>Find me in app/views/nicaragua/coding.html.erb</p>



<div>
	<h2>What You'll Learn</h2>
</div>

<div>
	<p>Ruby</p>
	<p>Jump headfirst into one of the most popular object oriented, open-source programming languages, Ruby! It's powerful, yet simple syntax will have you programming in no time!.</p>
</div>	

<div>
	<p>Rails</p>
	<p>Take your ruby knowledge and dive right into the versatile web application framework Ruby on Rails. This popular solution allows for rapid prototyping of database driven apps.</p>
</div>	

<div>
	<p>HTML and CSS</p>
	<p>Learn the core languages that comprise everything we see on the web. You'll provide structure and content with HTML, then make it beautiful and responsive with CSS.</p>
</div>	

<div>
	<p>Javascript</p>
	<p>Dive into the most flexible language on the web today. With a simple understanding you can quickly improve the front end experience and learn to program back end applications entirely in this swiss army knife language.</p>
</div>	

<div>
	<p>API's and RESTful techniques</p>
	<p>Learn how to integrate your web application with tools like Facebook and Google Maps and how superior web applications are designed utilizing surprisingly simple and universal concepts used across the web.</p>
</div>	

<div>
	<p>Git and Github</p>
	<p>Learn how the pros manage their code and projects when working on complex applications. With this version control system and Github, you'll be able to track your progress and colloborate with others at scale.</p>
</div>	

<div>
	<p>Database Modeling and Querying</p>
	<p>Learn the crucial skill of modeling resources and relationships in a dynamic, database-backed web application. You'll also understand the basics of database querying, a crucial skill in any workplace.</p>
</div>	

<div>
	<p>Deployment</p>
	<p>After developing your applications, you'll want to share them with the world! We'll help you deploy your app and make it live for others to use via Heroku.</p>
</div>	

<div>
	<h2>Take Aways</h2>
</div>


