


<div class="container-fluid intro-block">
    <div class="container-fluid" id="banner">
      <div class='banner-text' id="banner-text">
        <h1>CODE ABROAD</h1>
        <h1>Nicaragua</h1>
        <h3>11 weeks of code immersion and travel</h3>
      </div>  
    </div>

</div>





<div class="container-fluid primary-detail-block" id="primary-detail-block">

        
        <div class="container-fluid primary-detail-block-head">
         	<a href="/nicaragua/coding">Join Us!</a>
        </div>
        <div class="container-fluid primary-detail-text">
        		<p>Build web applications from scratch. Travel across Nicaragua.</p>
    	   <span class="horizontal-break"></span>
         </div>

</div>




<div class="container-fluid secondary-detail-block" id="secondary-detail-block">

	    	<div class="row">
    		<div  class="col-sm-6">
    			<div class="secondary-detail-text-block">
    				<a href="/nicaragua/coding">Coding</a>
            <div class='secondary-detail-text'>
    				<p> Develop full stack with object oriented programming. Work with responsive front end frameworks. Build out and model relational databases. Construct API's. Dive into Javascript.</p>
          </div>
    			</div>
    		</div>
    		<div class="col-sm-6">
    			<div class="secondary-detail-text-block">	
    				<a href="/nicaragua/travel">Travel</a>
            <div class='secondary-detail-text'>
    				<p>Live in a historic spanish-colonial city. Relax on world class beaches.  Visit remote rain forests. Explore active volcanoes. Surf the Pacific. Get to know the locals, all sorts of them. </p>
    			   </div>
          </div>
    		</div>
   		 </div>


</div>






<div class="container-fluid accommodations-block" id="accommodations-block">
	<div class="container-fluid accommodations-header" id="accommodations-header">
		<h2> ACCOMMODATIONS </h2>
	</div>

	<div>
		  <div class="row">
       		<div class="col-sm-4">
          <center><a>Room n' Board</a></center>
            <div class="accommodations-text-block">
            <p>We have a house in historic Granada. Students will bunk together. Meals and laundry are always on the house.</p>
            </div> 
       		</div>
        
      		 <div class="col-sm-4 ">
          <center><a>Adventures</a></center>
            <div class="accommodations-text-block">
            <p>About half of the time spent is travelling and going on adventures. We leave some free time as well for personal adventures and family visits.</p>
            </div>
        	</div>
			   <div class="col-sm-4">
          <center><a>Spanish!</a></center>
            <div class="accommodations-text-block">
            <p>We have translators available to help anytime. We also offer a crash course in conversational spanish on the side.</p>
            </div>
        	</div>
      </div>
</div>

<div class="container-fluid" id="sessions">
    <div class="sessions-head">
        <h2>SCHEDULE</h2>
    </div>

    <div class="sessions-detail"> 
      <p>Summer Session:  June thru mid-August</p>
    </div>
    <div class="sessions-detail"> 
      <p>Fall Session:  September thru mid-November</p>
    </div>
    <div class="sessions-detail"> 
      <p>Spring Session:  March thru mid-May</p>
    </div>
</div>

<div class="container-fluid" id="investment-block">
	    	<div class="row">
    		<div  class="col-sm-6">
    	<a href="/nicaragua/coding">Your Investment</a>
      <div class="investment-text-block">
    			<p>You'll leave with the skills to build your own applications from the ground up. Students will also create a portfolio site to demonstrate future work, and team up to build a couple full satck applications for their portfolio.</p>
    		</div>
        </div>
    		<div class="col-sm-6">
    	<a href="/nicaragua/travel">Pricing</a>
        <div class="investment-text-block">
    			<p>Enrollment = $15,000</p>
          <p>we offer payment plans and discounts for students who demonstrate hightened interest in either coding or spanish fluency.
        </div>
    		</div>
   		 </div>
</div>





<div class="container-fluid" id="mission-block">
<p>Our goal is to prepare students to enter the workforce with hard tehcnical skills, or prepare themselves to launch a startup of their own. At the same time, we want to instill a sense of adventure and promote cultural interactions they'll remember for a lifetime. </p>


</div>


