


<div class="container-fluid intro-block">
    <div class="container-fluid" id="banner">
      <div class='banner-text' id="banner-text">
        <h1>CODE ABROAD</h1>
        <h1>Nicaragua</h1>
        <h3>10 weeks of code immersion and travel</h3>
      </div>  
    </div>

</div>





<div class="container-fluid primary-detail-block" id="primary-detail-block">

        
        <div class="container-fluid primary-detail-block-head">
         	<a href="/nicaragua/coding">Join Us!</a>
        </div>
        <div class="container-fluid primary-detail-text">
        		<p>Build web applications from scratch.</p>
            <p>Experience Nicaragua to the fullest.</p>
    	   <span class="horizontal-break"></span>
         </div>

</div>




<div class="container-fluid secondary-detail-block" id="secondary-detail-block">

	    	<div class="row">
    		<div  class="col-sm-6">
    			<div class="secondary-detail-text-block">
    				<a href="/nicaragua/coding">Coding</a>
            <div class='secondary-detail-text'>
    				<p> Develop full stack with object oriented programming. Work with responsive front end frameworks. Build out and model relational databases. Construct API's. Dive into Javascript.</p>
          </div>
    			</div>
    		</div>
    		<div class="col-sm-6">
    			<div class="secondary-detail-text-block">	
    				<a href="/nicaragua/travel">Travel</a>
            <div class='secondary-detail-text'>
    				<p>Live in a historic spanish-colonial city. Relax on world class beaches.  Visit remote rain forests. Explore active volcanoes. Surf the Pacific. Get to know the locals, all sorts of them. </p>
    			   </div>
          </div>
    		</div>
   		 </div>


</div>






<div class="container-fluid accommodations-block" id="accommodations-block">
	<div class="container-fluid accommodations-header" id="accommodations-header">
		<h2> ACCOMMODATIONS </h2>
	</div>

	<div>
		  <div class="row">
       		<div class="col-sm-4">
          <center><a>Room n' Board</a></center>
            <div class="accommodations-text-block">
            <p>We have a house in historic Granada. Students will bunk together. Meals are always on the house.</p>
            </div> 
       		</div>
        
      		 <div class="col-sm-4 ">
          <center><a>Adventures</a></center>
            <div class="accommodations-text-block">
            <p>Most weekends we have organized trips, with a couple weekends for family visits, and personal adventures.</p>
            </div>
        	</div>
			   <div class="col-sm-4">
          <center><a>Spanish!</a></center>
            <div class="accommodations-text-block">
            <p>We have translators available to help anytime. We also offer a crash course in conversational spanish on the side.</p>
            </div>
        	</div>
      </div>
</div>

<div class="container-fluid" id="investment-block">
	    	<div class="row">
    		<div  class="col-sm-6">
    	<a href="/nicaragua/coding">Your Investment</a>
      <div class="investment-text-block">
    			<p>Work with responsive front end frameworks. Develop applications through object oriented programming. Build out and model relational databases. Construct API's. Dive into Javascript.</p>
    		</div>
        </div>
    		<div class="col-sm-6">
    	<a href="/nicaragua/travel">Scholarships</a>
        <div class="investment-text-block">
    			<p>Live in a historic spanish colonial city. Relax on world class beaches.  Visit remote rain forests. Explore active volcanoes. Get to know the locals, all sorts of them. Surf the Pacific.</p>
        </div>
    		</div>
   		 </div>
</div>

<div class="container-fluid" id="get-back-block">
  <p>return on investment</p>

</div>



<div class="container-fluid" id="mission-block">
<p>mission statement happy thoughts</p>


</div>


<div class="container-fluid" id="footer">
  <footer>
        <p>&copy; Grownup Stuff CO. 2015</p>
        <ul>
            <li> <a href="#">About </a></li>
            <li> <a href="#">Contact </a></li>
        </ul> 
  </footer>
</div>