<div class="container-fluid" id="intro">
	<video autoplay loop muted poster="/assets/nica_beach_paradise.jpg" id="background-travel-vid">
        <source src="/assets/nica_slides_vid.mp4" type="video/mp4">
    </video>
    
	<div class="container-fluid" id="banner">
		<h1>Learn to Code. Explore Nicaragua. </h1>
		<h3>10 weeks of full stack web development</h3>	
	</div>
</div>