<div class="container-fluid" id="travel-intro">
	<video autoplay loop muted poster="/assets/nica_beach_paradise.jpg" id="background-travel-vid">
        <source src="/assets/nica_slides_vid.mp4" type="video/mp4">
    </video>
    
	<div class="container-fluid" id="travel-banner">
		<h1>Travelling with Code Abroard </h1>
		<h1> in Nicaragua</h1>	
	</div>
</div>

<div>
	<p>Nicarauga has a lot to offer. Most weekends we have planned trips around the country that range from wild hikes through rainforests and vocanoes to laid back days unwinding on one of the many beaches.</p>
</div>


<div id="destinations">
	<h1> DESTINATIONS </h1>
</div>
	<h3>The Corn Islands</h3>
	<p>truly unique carribean gems. These islands are remote! Scuba, snorkeling, and just wandering the prestine white sand beaches are great ways to experience the area.<p>

	<h3>Ometepe Island</h3>
	<p>Ometepe is one of a kind. You simply won't find another place like this on earthh. In the middle of Lake Nicaragua sites this small island created by two giant volcanoes surrounded by tropical rain forests and black sand beaches. You'll hike the volcanoes and see the wild island first hand. Don't be surprised if you feel like your in the film Jurassic Park.

	<h3>Miraflor</h3>
	<p>High up in the mountains of central Nicaragua is the miraflor, a seasonal cloud forest. You'll spend a couple nights living with the locals. The cloud forest is lush jungle teeming with wildlife which the locals love to share with travellers.</p>

	<h3>Pacific Beaches</h3>
	<p>Nicaragua's Pacific beaches are already common travel destinations for surfers and international backpackers alike, and for good reason. These beaches are perfect for surfing and working on your tan. There's also a number of popular surf towns up and down the coast, where English becomes the common language.</p>

	<h3>Grenada</h3>
	<p>In between adventures, Grenada is our home. Known for its beautiful Spanish-colonial architecture, this city has been an international tourist destination for many years, and offers a good balance of community and culture for visitors. There is no shortage of activities here, shopping and eating being top of the list.</p>

	<h3></h3>	
</div>

