<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          	<div class="navbar-brand" >
          		<a  href="/nicaragua">Code Abroad / Nicaragua</a>
        	</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        	<ul class="nav navbar-nav navbar-right" style="padding-right:40px;"> 	
          		<li><a href="/nicaragua/travel">Travelling</a></li>
          		<li style="padding-right:15px;"><a href="/nicaragua/coding">Coding</a></li>
          		<button type="button" class="btn btn-info navbar-btn" onclick="location.href='/nicaragua/apply';">Apply Now</a></button>   
      		</ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>


